.wrapper h1 {
    color: #252525
}

.header {
    display: flex;
    gap: 30px;
}

.header input {
    border: 1px solid #6c63FF;
    border-radius: 5px;
    padding: 10px 15px;
    display: block;
    outline: none;
}

.header input:nth-child(1) {
    width: 256px;
}

.header input:nth-child(1) {
    width: 389px;
}

